@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme inline {
  --font-inter: var(--font-inter);
  --breakpoint-3xl: 1440px;
  --breakpoint-2xl: 1280px;
  --breakpoint-xl: 1024px;
  --breakpoint-lg: 768px;
  --breakpoint-md: 640px;
  --breakpoint-sm: 480px;
  --breakpoint-xs: 375px;
  --breakpoint-xxs: 320px;
}

body {
  font-family: var(--font-inter);
  background: #f7f8fa;
  color: #020617;
  font-weight: 500;
}
